body {
  font-family: "Arial"
}

p {
  font-size: 20px;
  background-color: #EEE;
}

.cipher p {
  background-color: #FFF;
}

.title {
  font-size: 26px;
}

hr {
  border: 1px solid #000;
}

select {
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-family: "Arial";
  background-color: #EEE;
  margin-right: 4px;
}

.selectCipher {
  width: 400px;
}

button {
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-family: "Arial";
  font-weight: bold;
}

.cipher {
  border: 1px solid #000;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 1000px;
}

.cipherText {
  font-family: "Inconsolata";
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 10px;
  line-height: 90px;
}

#table {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.customSettings {
  width: 1000px;
}

#table td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 5px;
  font-family: "Inconsolata";
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

input,
textarea {
  width: 500px;
  font-family: "Arial";
  background-color: #EEE;
  color: #000;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 2px;
  border: 1px solid #000;
}

.checkerboard {
  width: 248px;
  margin-left: 0px;
}

textarea {
  height: 150px;
  font-family: "Inconsolata";
  resize: none;
}