:root {
    --border: 2px solid #AAA;
}

.cipherType, .k {
    width: 200px;
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
    font-family: "Inconsolata";
    background: linear-gradient(0deg,rgba(56, 56, 56, 1) 0%, rgba(93, 82, 112, 1) 100%);
    background-color: #333;
    color: #FFF;
}

input {
  width: 604px;
  height: 40px;
  font-size: 18px;
  font-family: "Inconsolata";
  background-color: #333;
  color: #FFF;
  font-weight: bold;
  border: var(--border);
  margin-left: 2px;
  margin-top: 2px;
}

.checkerboard {
  width: 300px;
  margin: 0px;
}

textarea {
  width: 604px;
  height: 150px;
  font-size: 18px;
  margin-top: 5px;
  font-family: "Inconsolata";
  resize: none;
  background-color: #333;
  color: #FFF;
  font-weight: bold;
  border: var(--border);
  margin-left: 2px;
}

.selectCipher {
  background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(83, 237, 101, 1) 100%);
  width: 400px;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 
    2px 2px 5px #555,
    -2px 2px 5px #555,
    -2px -2px 5px #555,
    2px -2px 5px #555;
  font-family: "Inconsolata";
  color: #FFF;
  background-color: #333;
}

select {
  transition: 0.2s ease-in-out;
  font-size: 24px;
}

select:hover {
  height: 55px;
  font-size: 25px;
}

.ciphers {
    border: 0px;
}

.cipherTable {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  font-size: 18px;
  font-family: "Inconsolata";
}

.cipherTable td {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  padding: 4px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cipher p {
  background-color: #FFF !important;
  width: 1000px !important;
}

.cipher hr {
  width: 1000px !important;
}

p {
    font-size: 24px;
    color: #FFF;
    margin-bottom: 10px;
    font-family: "Inconsolata";
    background-color: rgba(20, 60, 80, 0.5);
    width: 1020px;
}

.top {
    margin-top: 20px;
}

hr {
    border: 1px solid #EEE;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 1020px;
}

.name {
    font-size: 18px;
}

.title {
    font-size: 26px;
    font-family: "Inconsolata";
    margin-right: 5px;
    margin-bottom: 15px;
}

.inner {
    border: 1px solid #000;
}

.name,
.hint,
.cipherText {
    color: #000;
}

.generationMode {
    font-family: "Inconsolata";
    color: #333;
    width: 300px;
    font-size: 20px;
    transition: 0.2s ease-in-out;
    height: 30px;
    background: linear-gradient(90deg,rgba(148, 102, 176, 1) 0%, rgba(201, 91, 91, 1) 100%);
    color: #FFF;
    font-weight: bold;
    border: 2px solid #A79;
}

.generationMode:hover {
    font-size: 21px;
    height: 35px;
}

.cipherText {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 80px;
}

.cipher {
    border: 3px solid rgb(20, 60, 80);
    padding-bottom: 20px;
    width: 1000px;
    padding-left: 20px;
    background-color: #FFF;
}

body {
    background: linear-gradient(0deg,rgba(47, 44, 77, 1) 0%, rgba(43, 56, 51, 1) 100%);
}